<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1><%= __('404.message') %></h1>
  <h2><span aria-hidden="true">ʕノ•ᴥ•ʔノ ︵ ┻━┻</span></h2>
  <h3><%= __('404.message_alt') %></h3>

  <p class="center">    
    <%- list_tags(site.tags, {
      class: 'classtest',
      show_count: false,
      style: false,
      transform(str) {
        return ('#' + str);
      }
    }) %>  
  </p>
  <p class="center">
    <a href="#title"><span alt="<%= __('post.back_to_top') %>"></span>⬆</span></a>
  </p>
</article>