<nav class="center"> 
  <%- list_categories(site.categories, {
    class: 'classtest',
    separator: ' | ',
    show_count: false,
    style: false,
    transform(str) {
      return titlecase('#' + str);
    }
  }) %>
</nav>

<h2><%= __('archive.title') %></h2>

<ul class="blog-posts ">
<% page.posts.each(function(post) { %>
  <li>
    <span><i><%- full_date(post.date, 'YYYY/MM/DD') %></i></span>
    <a href="<%- url_for(post.path) %>" class="">
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </li>
<% }) %>
</ul>
<%- partial('partial/pagination', {type: 'page'}) %>
