<div>
  <!-- Main information, edit it on theme/_config.yml -->
  <h1 id="owner"><%= theme.owner %></h1>
  <p><strong><%= theme.bio %></strong></p>
  <ul>
    <% for (bio_el in theme.bio_list) { %>
      <li><%- (theme.bio_list[bio_el]) %></li>
    <% } %>
  </ul>
  <p><%= theme.desc %></p>
  <%- partial('partial/social') %>
</div>

<h2><%= __('index.recent_posts') %></h2>

<ul class="blog-posts">
<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<li>
  <span><i><%- full_date(post.date, 'YYYY/MM/DD') %></i></span>
  <a href="<%- url_for(post.path) %>" >
    <% if (post.title == "") { %>
      no title
    <% } else { %>
      <%- post.title %>
    <% } %>
  </a>
</li>
<% }) %>
</ul>
