<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <% if (theme.gnuTerryPratchett) { %>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
  <% } %>

  <%
  if (!config.author) {
    config.author = ""
  }

  var title = title = config.title;
  if (is_archive()){
    title = 'All Posts - ' + config.title;
  } else if (is_post()){
    title = page.title + ' - ' + config.title;
  } else if (is_page()){
    title = page.title + ' - ' + config.title;
  } else if (is_tag()){
    title = 'Posts Related to ' + page.tag;
  }
  %>
  <title><%= title %></title>

  <%- partial('partial/seo') %>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%- css('css/bear.css') %>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <% if (theme.favicon_180) { %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png" href="<%- config.root %><%- theme.favicon_180 %>">
    <link rel="apple-touch-icon" type="image/png" href="<%- config.root %><%- theme.favicon_180 %>" />
  <% } else if (theme.favicon) { %>
    <link rel="icon" type="image/png" sizes="any" href="<%- config.root %><%- theme.favicon %>">
  <% } %>
  <!-- Custom Theme Color Style
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>

<body>
  <%- partial('partial/header') %>
  <main>
    <%- body %>
  </main>
  <%- partial('partial/contact') %>
  <%- partial('partial/footer') %>
</body>

</html>