  <h1><%- page.title %></h1>

  <p>
    <i><%- full_date(page.date, 'll') %></i> -
    <%- list_categories(page.categories, {
      class: 'classtest',
      show_count: false,
      style: false,
      transform(str) {
        return ('#' + str);
      }
    }) %>
  </p>
  <%- page.content%>
  <p class="center">
    <a href="#title"><span alt="<%= __('post.back_to_top') %>"></span><span>⬆</span></a>
    <%- list_tags(page.tags, {
      class: 'classtest',
      show_count: false,
      style: false,
      transform(str) {
        return ('#' + str);
      }
    }) %>
  </p>
  <%- partial('partial/comments') %>
