<% if (theme.disqus_enabled && theme.disqus_shortname){ %>
  <hr>
<section id="comments">

  <div id="disqus_thread">
    <a href="#" class="button button-primary" onclick="loadDisqus();return false;"><%= __('comments.comment') %></a>
  </div>

  <script>
    var disqus_config = function() {
      this.page.url = '<%= config.url + page.canonical_path %>';
      this.page.identifier = '<%= page.id || page.canonical_path %>';
      this.page.title = '<%= page.title %>';
    };

    var is_disqus_loaded = false;

    function loadDisqus() {
      if (!is_disqus_loaded) {
        is_disqus_loaded = true;

        var d = document,
          s = d.createElement('script');
        s.src = 'https://<%= theme.disqus_shortname %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      }
    }

  </script>
  <noscript><%= __('comments.activate_1') %><a href="https://disqus.com/?ref_noscript"><%= __('comments.activate_2') %></a></noscript>
</section>
<% } %>
