<% if (theme.contact_enabled && theme.contact_comment_url && theme.contact_comment_name) { %>
  <div class="contact">
    <p><%= __('contact.message') %><a href="<%- theme.contact_comment_url %>" rel="nofollow"><%- theme.contact_comment_name %></a>.</p>
  </div>
<% } %>