<footer class="footer">
  <% if (theme.footer) { %>
    <p id="copyright">
      <%- theme.footer_copyright %> - <span><%- full_date(Date.now(), 'YYYY') %></span> <%- theme.footer_emoji %> <%- config.author %>
    </p>
  <% } %>
</footer>
