<header class="header">
  <a href="<%= config.root %>" class="title" id="title">
    <h1>
      <% if (theme.header_emoji_1) { %>
        <span aria-hidden="true" class="icon">
          <%= theme.header_emoji_1 %>
        </span>
      <% } %>      
      <%= theme.title %>
      <% if (theme.header_emoji_2) { %>
        <span aria-hidden="true" class="icon">
          <%= theme.header_emoji_2 %>
        </span>
      <% } %> 
    </h1>
  </a>
  <%- partial('partial/nav') %>
  <hr class="margin-bottom">
</header>