<nav><p>
  <a href="<%= config.root %>"><%= __('nav.home') %></a>
  <% for (name in theme.menu) { %>
    <% if (theme.menu[name]) { %>
    <a href="<%- url_for(theme.menu[name]) %>"><%- name %></a>
    <% } %>
  <% } %>
</p></nav>
