<% if(config.search){ %>
  <script>
    function search() {
      function entertext(e, t = 400) {
        let n = -1;
        return (...c) => {
          clearTimeout(n), n = setTimeout(() => {
            e(c)
          }, t)
        }
      }

      function t() {
        r.innerHTML = "", "" != o.value.trim() && (l.innerHTML = "", n.forEach(e => {
          if (e.title.toLowerCase().includes(o.value.toLowerCase())) {
            let t = document.createElement("a");
            t.href = e.url, t.text = e.title;
            let n = document.createElement("li");
            n.appendChild(t), l.appendChild(n)
          }
        }), r.appendChild(l))
      }
      let n;
      fetch("<%- config.root %><%= config.search.path %>").then(e => e.json()).then(e => {
        n = e.concat()
      }).catch(console.error);
      let c = entertext(t),
        o = document.getElementById("search-input-text"),
        r = document.getElementById("search-result"),
        l = document.createDocumentFragment();
      o.oninput = function () {
        c()
      }
    }
    window.addEventListener("load", search);
  </script>
  <section id="search">
    <form>
      <input type="text" class="search-input" id="search-input-text"
        placeholder="<%= __('search.search_placeholder') %>">
    </form>
    <div id="search-result" class="search-result">
      <ul>
        <%= __('search.no_results') %>
      </ul>
    </div>
  </section>
<% } %>