<%
  var title = title = config.title;
  if (is_archive()){
    title = 'All Posts - ' + config.title;
  } else if (is_post()){
    title = page.title + ' - ' + config.title;
  } else if (is_page()){
    title = page.title + ' - ' + config.title;
  } else if (is_tag()){
    title = 'Posts Related to ' + page.tag;
  }
%>

<% if (config.sitemap) { %>
<link rel="sitemap" href="<%-config.url + '/' + config.sitemap.path %>">
<% } %>
<link rel="canonical" href="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>">
<% if (is_page()){ %>
<meta name="description" content="<%= page.description %>">
<% } else if (page.excerpt){ %>
<meta property="description" content="<%= strip_html(page.excerpt).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>...">    
<% } else if (page.content){ %>
<meta name="description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>...">
<% } else if (theme.subtitle){ %>
<meta name="description" content="<%= theme.subtitle %>">
<% } else { %>
<meta name="description" content="<%= config.description %>">
<% } %>

<% if (config.keywords) { %>
<meta name="keywords" content="<%= config.keywords %>">
<% } %>
<meta name="author" content="<%- config.author %>">

<% if (is_post() || is_page()) { %>
  <% if(page.thumbnail){ %>
<meta property="og:image" content="<%-config.url + '/' + page.thumbnail %>">
  <% } %>
<% } else { %>
  <% if(theme.thumbnail){ %>
<meta property="og:image" content="<%-config.url + '/' + theme.thumbnail %>">
  <% } %>
<% } %>

<meta property="og:site_name" content="<%= config.title %>">
<meta property="og:type" content="article">
<meta property="og:title" content="<%= title %>">
<% if (is_page()){ %>
<meta property="og:description" content="<%= page.description %>">
<% } else if (page.excerpt){ %>
<meta property="og:description" content="<%= strip_html(page.excerpt).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>...">    
<% } else if (page.content){ %>
<meta property="og:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>...">
<% } else { %>
<meta property="og:description" content="<%= config.description %>">
<% } %>
<meta property="og:url" content="<%= url.replace(/index\.html$/, '') %>">

<% if (theme.fediverse_creator) { %>
<meta name="fediverse:creator" content="<%- theme.fediverse_creator %>" />
<% } %>
<% if(theme.noai){ %>
<meta name="robots" content="noai, noimageai">
<% } %>