:root {
  --width: 720px;
  --font-main: Verdana, sans-serif;
  --font-secondary: Verdana, sans-serif;
  --font-scale: 1.1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color:  #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #01242e;
      --heading-color: #eee;
      --text-color: #ddd;
      --link-color: #8cc2dd;
      --visited-color:  #8b6fcb;
      --code-background-color: #000;
      --code-color: #ddd;
      --blockquote-color: #ccc;
  }
}

body, .search-input {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

nav a {
  margin-right: 8px;
}

strong, b {
  color: var(--heading-color);
}

button {
  margin: 0;
  cursor: pointer;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed var(--text-color);
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: monospace;
  padding: 2px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 20px;
  font-style: italic;
}

footer, .contact {
  padding: 10px 0;
  text-align: center;
}

.center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto !important;
}

.highlight, .code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}

.highlight .gh {
color: purple;
}

/* Social icons */
.social {
  text-align: center;
}
.a.social-link:hover,
.a.social-link:focus {
  cursor: pointer;
}
.gitlab {
  fill: #FC6D26;
}
.mastodon {
  fill: #6364FF
}
.email {
  fill: #F2E142
}

/*  searchbox */
.search-input {
  padding: 4px 7px;
  width: 100%;
  outline: none;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1.2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.search-result {
  padding-top: 25px;
}